.bg-info {




}

.riscado{

    text-decoration: line-through;


}


body {

    font-family: 'Roboto', sans-serif;
}

.valor{

    font-size: 1.5em;


}

.navbar-brand{

 font-size: 1.6em;


}


.nav-item {

    font-size: 1.1em;

}



.cor{

    color: white;


}
.cor:hover {

    color: whitesmoke;


}
